@CHARSET "UTF-8";
body {
	font-family: 'Raleway', sans-serif;
}
.site_width {
	width: 100%;
}
.left {
	float: left;
}
.right {
	float: right;
}

.main_width {
	width: 1200px;
	margin: 0 auto;
}

nav {
	background-color: black;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	line-height: 50px;
	color: white;
}

nav span {
	padding-right: 5px;
}
.green-text {
	color: rgb(51, 184, 153);
}
nav span:nth-of-type(2) {
	color: rgb(51, 184, 153);
	font-weight: 700;
	padding-right: 7px;
}

.nav_bar {
	height: 50px;
}

.nav_bar>ul {
	float: right;
	font-size: 15px;
}

.nav_bar>ul li {
	position: relative;
	display: inline-block;
	color: white;
	font-weight: bold;
	cursor: pointer;
	min-width: 110px;
}

.nav_bar>ul li:hover .submenu, .submenu:hover {
	display: block;
}

.submenu {
	display: none;
	position: absolute;
	min-width: 110px;
	color: white;
	background-color: black;
	top: 50px;
	left: -15px;
	text-transform: none;
	margin-top: 7px;
	font-size: 15px;
}

.submenu ul {
	margin: 10px 0px 5px 10px;
	padding: 0;
	line-height: 30px;
	font-weight: 500;
}

#triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid black;
	top: -8px;
	left: 50%;
	margin-left: -10px;
}

section:first-of-type {
	background: rgba(255, 255, 255, 1);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 42%, rgba(203, 203, 211, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255,
		255, 1)), color-stop(42%, rgba(255, 255, 255, 1)),
		color-stop(100%, rgba(203, 203, 211, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 42%, rgba(203, 203, 211, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 42%, rgba(203, 203, 211, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 42%, rgba(203, 203, 211, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 42%, rgba(203, 203, 211, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#cbcbd3', GradientType=0);
}
section:nth-of-type {
	background: white;
}
.carousel {
	height: 450px;
	font-family: 'Raleway', sans-serif;
	position: relative;
}
.carousel_show {
	width: 1120px;
	height: 370px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
}
.carousel_show  img{ 
	float: left;
	
}
.carousel_text h1 > span{ 
	display: inline-block;
	font-size: 50px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 46px;
	margin-bottom: 35px;
	padding-right: 10px;
}
.carousel_text h1 > span:nth-of-type(even) { 
	color: rgb(51, 184, 153);
}
.carousel > span {
	display: inline-block;
	font-size: 55px;
	line-height: 450px;

}
.carousel_text {
	text-align: center;
	width: 500px;
	display: inline-block;
}
.carousel_text p {
	line-height: 28px;
}
.carousel_text a {
	display: inline-block;
	text-decoration: none;
	color: white;
	width: 250px;
	height: 45px;
	background-color: rgb(51, 184, 153);
	border-radius: 5px;
	font-size: 20px;
	line-height: 45px;
	text-transform: uppercase;
	margin-top: 40px;
}
.pictures {
	padding: 25px;
}
.pictures_box {
	width: 375px;
	height: 250px;
	display: inline-block;
	position: relative;
	margin-right: 31px;
}
.pictures_box div {
	position: absolute;
	bottom: 10px;
	right: 0;
	left: 0;
	display: block;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	
	font-weight: bold;
	padding-left: 15px;
	padding-bottom: 10px;
}
.pictures h2 {
	border-bottom: 6px solid rgb(51, 184, 153);
	font-size: 15px;
	display: block;
	width: 130px;
	height: 27px;
	line-height: 35px;
}
#pictures_box-first {
	background-image: url('../images/box1_img.jpg');
	background-size: cover;
}
#pictures_box-second {
	background-image: url('../images/box2_img.jpg');
	background-size: cover;
}
.infobox {
	width:375px;
	height: 285px;
	border: 1px solid rgb(219, 219, 219);
	display: inline-block;
	vertical-align: top;
	padding: 25px;
	box-sizing: border-box;
}
.infobox p {
	font-size: 16px;
	margin-top: 14px;
	color: rgb(86, 86, 86);
}